body {
    background-color: black;
    position: absolute;
}

#tablero{
    display: inline-block;
    vertical-align: middle;
    line-height: 50%;
    margin-left: 420px;
    margin-top: 15px;
   
}


.casilla{
      
        position: fixed;   
    }
    
    div[color="blanco"]{
        background-color:#E18D14;
      
    }
    div[color="negro"]{
        background-color:#741C09;
       
    }
#pieza{
    width: 65px;
    height: 65px;
    background-image: url(https://raw.githubusercontent.com/straviranus/imagenes-chess/master/rey.png);
    background-size: 100% 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    margin-left: 260px;
    margin-top: 455px;
    background-color: red;
    
}
